<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listado de Vacas</title>
</head>
<body>
    <h1>Listado de Vacas</h1>
    <a href="/nuevo">Crear Nueva Vaca</a>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Fecha de Nacimiento</th>
                <th>Peso</th>
                <th>Foto de Perfil</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="vaca : ${vacas}">
                <td th:text="${vaca.id}"></td>
                <td th:text="${vaca.nombre}"></td>
                <td th:text="${#temporals.format(vaca.fechaNacimiento, 'dd/MM/yyyy')}"></td>
                <td th:text="${vaca.peso}"></td>
                <td>
                    <a th:href="@{/editar/{id}(id=${vaca.id})}">Editar</a>
                    <a th:href="@{/borrar/{id}(id=${vaca.id})}">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>