<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Añadir Libro</title>
</head>
<body>
    <h1>Añade un nuevo Libro</h1>
    <form method="post" th:action="@{/crear}">
        <label for="titulo">Titulo:</label>
        <input type="text" id="titulo" name="titulo" required /><br />

        <label for="autor">Autor:</label>
        <input type="text" id="autor" name="autor" required /><br />

        <label for="genero">Genero:</label>
        <input type="text" id="genero" name="genero"/><br />

        <label for="anoPubli">Año de publicación:</label>
        <input type="number" value:"0" id="anoPubli" name="anoPubli" required/><br />

        <button type="submit">Añadir</button>
    </form>
    <p th:if="${error}" th:text="${error}" style="color:red"></p>
    <p th:if="${success}" th:text="${success}" style="color:green"></p>
    <a th:href="@{/}">Volver</a>
</body>
</html>
