<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Carrito</title>
</head>
<body>
    <h1>Carrito de Compras</h1>
    <table>
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Precio Total</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${cartItems}">
                <td th:text="${item.product.name}"></td>
                <td th:text="${item.quantity}"></td>
                <td th:text="${item.product.price}"></td>
                <td th:text="${item.totalPrice}"></td>
                <td>
                    <form action="/cart/remove" method="post">
                        <input type="hidden" name="name" th:value="${item.product.name}">
                        <button type="submit">Eliminar</button>
                    </form>
                </td>
            </tr>
        </tbody>        
    </table>
    <p>Total: <span th:text="${totalPrice}"></span></p>
    <form action="/cart/clear" method="post"><button>Vaciar Carrito</button></form>
    <form action="/cart/checkout" method="post"><button>Procesar Compra</button></form>
</body>
</html>
